
/*-----------------------------------Hero Section--------------------------------*/
.quotation-mark-right-ep{
    align-self: flex-end;
    /*font-size: 4.5rem;*/
    font-size: 8vw;
    font-family: serif;
    min-height: 5rem;
    color: var(--dark-orange)
}

.quotation-mark-right-ep{
    position: absolute;
    left: 25%;
    bottom: 0;
    height: 28%;
}

.headImage-wrapper-Image{
    aspect-ratio: 663/401;
}


/*Events Main Section*/
.events-main-section{
    height: fit-content;
    background-color: var(--green-primary);
    border: 0 solid transparent;
}

.main-event-container{
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 15rem 0 0 15rem;
    overflow: hidden;
    border: 0 solid transparent;
}

.main-event-heading-container{
    height: 20rem;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.main-event-heading-container h1{
    font-family: Poppins, serif;
    font-size: 3.6rem;
    text-decoration: underline;
    filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.5));
}
.main-event-heading-container h1{
    color: var(--green-primary);
}



/*--------------------------------------------------------------------------------*/
/*---------------------------Main Event Section-----------------------*/
.main-event-wrapper{
    /*border: 2px solid red;*/
    min-height: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 4rem;
}

.event-description{
    /*border: 2px solid #0164f8;*/
    width: 30rem;
    height: 32rem;

    display: flex;
    flex-direction: column;
    gap: .4rem;
}

.event-description h1{
    color: var(--green-primary);
    font-family: Poppins, serif, "serif";
    font-weight: 900;
    text-decoration: underline;
    font-size: 2.2rem;
}

.event-description p{
    font-family: Nunito, "serif";
    font-weight: 500;
    font-size: 1.6rem;
    letter-spacing: 0;
    padding-left: 5px;
    border-left: 2px solid rgba(14, 37, 37, .5);
}


/*Event Card*/

.event-card-wrapper{
    min-width: 50rem;
    /*width: 50%;*/
    max-width: 50rem;
    height: 30rem;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 1rem;
}

.event-card{
    background-color: white;
    width:97%;
    height: 96%;

    border-radius: 3rem;
    padding: .5rem;
    border: 1px solid rgba(128, 128, 128, 0.2);
    position: relative;
    z-index: 25;
}

.event-card-image-wrapper{
    background-color: white;
    height: 100%;
    width: 100%;

    border-radius: 2.5rem;
    filter: drop-shadow(0 0 .5rem rgba(0, 0,0, 0.2));
    /*padding: 1rem;*/
    overflow: hidden;
}

.event-card-wrapper img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}


.event-card-left-border, .event-card-right-border{
    background-color: #1C4645;
    position: absolute;
    width: 18rem;
    height: 18rem;
    z-index: 20;
    border-radius: 3.5rem;
}

.event-card-left-border{
    bottom: 0;
    left: 0;
}

.event-card-right-border{
    top: 0;
    right: 0;
}

/*--------------------------------Event Section 1-----------------------*/
.events-section-1, .events-section-3{
    background-color: white;
    border: none;
}

.events-section-1 .event-container{
    border-radius: 0 15rem 15rem 0;

}

.events-section-1 .event-container, .events-section-3 .event-container{
    background-color: #1C4645;
    padding-bottom: 4rem;
    border: 0 solid transparent;
}


.event-heading-container{
    height: 15rem;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.event-heading-container h1{
    font-family: Poppins, serif, "serif";
    font-weight: 700;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    font-size: 2.2rem;
}

.event-content-wrapper{
    width: 100%;
    /*border: 2px solid orangered;*/

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}


.events-section-1 .event-heading-container > h1,
.events-section-3 .event-heading-container > h1{
    color: white;
    text-transform: uppercase;
}
.events-section-1 .event-content-wrapper > .event-description > p,
.events-section-3 .event-content-wrapper > .event-description > p{
    color: white;
    border-left: 2px solid rgba(255, 255, 255, 0.51);
}

.events-section-1 .event-content-wrapper > .event-card-wrapper > .event-card-left-border,
.events-section-1 .event-content-wrapper > .event-card-wrapper > .event-card-right-border,
.events-section-3 .event-content-wrapper > .event-card-wrapper > .event-card-left-border,
.events-section-3 .event-content-wrapper > .event-card-wrapper > .event-card-right-border{
    background-color: var(--dark-orange);
}


    /*--------------------------------Event Section 3-----------------------*/
    .events-section-2{
        background-color: var(--green-primary);
        border: none;
    }

    .events-section-2 .event-container{
        background-color: white;
        border-radius: 15rem 0 0 15rem;
        padding-bottom: 4rem;
    }

    /*--------------------------------Event Section 3-----------------------*/
    .events-section-3 .event-container{
        border-radius: 0 15rem 0 0;
    }





    /*=**************************************************************************=*/
    /*=-----------------------------MEDIA QUERIES--------------------------=*/
    /*=**************************************************************************=*/

    @media  (min-width: 1024px) {


        .quotation-mark-right-ep{
            font-size: 5rem;
            left: 21%;
            height: 40%;
        }

        .headImage-container{
            transform: translateY(-40%);
        }

        .headImage-wrapper-Image{
            bottom: 5%;
            right: 5%;
            height: 70%;
        }

        /*-------------------Main Event Section-----------------------*/
        .main-event-wrapper{
            flex-direction: row;
            justify-content: space-evenly;
            /*gap: 10rem;*/
        }

        .main-event-wrapper .event-description{
            align-self: flex-start;
            gap: 2rem;
            width: 35rem;
            height: 40rem;
            /*border: 2px solid red;*/
        }

        .main-event-wrapper .event-description > h1{
            font-size: 2.4rem;
        }
        .main-event-wrapper .event-description > p{
            font-size: 1.8rem;
            letter-spacing: 0;
        }

        .main-event-wrapper .event-card-wrapper{
            min-width: 60rem;
            max-width: 60rem;
            height: 40rem;
        }


        /*-------------------Event Section 1-----------------------*/

        .event-container .event-heading-container > h1{
            font-size: 2.8rem;
        }

        .event-content-wrapper{
            flex-direction: row;
            justify-content: space-evenly;
            min-height: 50rem;
        }

        .events-section-1 .event-container > .event-content-wrapper,
        .events-section-3 .event-container > .event-content-wrapper{
            flex-direction: row-reverse;
        }

        .event-content-wrapper .event-description{
            align-self: flex-start;
        }

        .event-content-wrapper .event-description > p{
            font-size: 1.8rem;
        }

        .event-content-wrapper .event-card-wrapper{
            min-width: 60rem;
            max-width: 60rem;
            height: 40rem;
        }





    }
