.address-section{
    background-color: #1C4645;
    min-height: 50rem;

    display: flex;
    align-items: center;
}


.address-container{
    background-color: #1C4645;
    width: fit-content;
    /*transform: translateY(-20%);*/
    margin-left: 10rem;
    padding: 4rem;

    filter: drop-shadow(0 0 .5rem rgba(0,0,0,0.5));
}

.address-container h1{
    color: white;
    font-family: Poppins, serif;
    text-decoration: underline;
    font-size: 3rem;
}

.address-container h1 > span{
    color: var(--dark-orange);
    margin-right: 4px;
    text-decoration: underline;
}

.address-container p{
    margin-top: 1rem;
    font-family: Poppins, serif;
    color: white;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1px;
}

.address{
    padding-left: 2rem;
    border-left: 2px solid rgba(255, 165, 0, 0.7);
}


@media (min-width: 1280px) {
    main{
        margin: 0 auto;
        max-width: 1280px;
        border-left: 1px solid rgba(14, 37, 37, 0.5);
        border-right: 1px solid rgba(14, 37, 37, 0.5);
    }
}